.calendar {
    display: inline-block;
    width: 100%;
    box-sizing: border-box; 
    color: #213547;
}

.calendar-month {
    margin: 10px 0 20px 0;
    color: #213547;
}

.calendar-days {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.calendar-days th {
    padding: 10px;
    color: #666;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.5px;
}