.calendar {
    display: inline-block;
    place-items: center;
    width: 700px;
    height: 700px;
    box-sizing: content-box;
}

.calendar-month {
    margin: 2% 0;
}

.calendar-days {
    width: 100%;
    height: 100%;
}

.calendar-days > * > * > td {
    position: relative;
}

.calendar-days > * > * > td {
    position: relative;
}