.calendar {
    display: inline-block;
    width: 100%;
    box-sizing: border-box; 
}

.calendar-month {
    margin: 10px 0 20px 0;
}

.calendar-days {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.calendar-days th {
    padding: 10px;
    color: #888;
    font-weight: 500;
}